$textColor: #FFFFFF;          // Branco puro (para textos sobre fundos escuros)
$secondaryTextColor: #1C1917; // Marrom-escuro quase preto (para textos claros)

$yellow: #D99B26;             // Ouro vibrante (fundo iluminado e confetes)
$darkYellow: #8C5E11;         // Mostarda escuro (sombras do fundo)
$blue1: #38A3A5;              // Azul-turquesa (chapéu do dinossauro)
$pink: #E63946;               // Vermelho/Rosa festivo (vela e pompom do chapéu)
$creamyWhite: #F4EBD9;        // Branco creme (glacê do cupcake)